body div#link-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;	
	background-color: #000000;
	color: #ffffff;
	opacity: 0;
	font-size: 13px;
	padding: 10px 5px 30px 5px;
	font-family: 'lucida grande', 'lucida sans unicode';
	line-height: 1;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
	text-align: left;
	z-index: 1000;
}

body div#link-overlay ul {
	display: inline;
	width: auto;
}

body div#link-overlay ul li {
	clear: left;
	list-style: none;
	margin-top: 8px;
	padding: 8px;
	border-radius: 3px;
	background-color: #dddddd;
	color: #000000;
}